@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> userManager

@{var user = await userManager.GetUserAsync(User);}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plant Life</h1>
    @if (user != null)
    {

        <div id='calendar'></div>
    }

</div>
<script src="~/js/site.js" asp-append-version="true"></script>